legend {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-color);
  text-transform: uppercase;
}

fieldset {
  display: block;
  padding: 1em;
  border: 1px solid var(--border-color);
  width: 98%;
  height: 100%;
  text-align: center;
}

.root-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

img {
  height: 80px;
  width: 80px;
  margin-bottom: 1em;
}

button {
  width: 100%;
  margin-bottom: 1em;
}
