<form #form="ngForm">
  <p-tabView>
    <p-tabPanel header="{{'general' | translate}}">
      <app-branch-general-form [branch]="branch" [shippingMethodsAvailable]="shippingMethodsAvailable"
        [disabled]="!hasEditRole()"></app-branch-general-form>
    </p-tabPanel>
    <p-tabPanel header="{{'zone' | translate:&quot;{ count: 2 }&quot;}}">
      <app-branch-zone-form [branch]="branch" [disabled]="!hasEditRole()"></app-branch-zone-form>
    </p-tabPanel>
  </p-tabView>
  <div class="p-grid" *ngIf="hasEditRole()">
    <div class="p-col ui-fluid">
      <button pButton type="button" label="{{ 'new' | translate:&quot;{ gender: 'male' }&quot; }}" icon="pi pi-file-o"
        (click)="onNew()"></button>
    </div>
    <div class="p-col ui-fluid">
      <button pButton type="submit" label="{{ 'save' | translate }}" icon="pi pi-save" [disabled]="!form.valid"
        (click)="onSubmit()"></button>
    </div>
    <div class="p-col ui-fluid">
      <button pButton type="button" label="{{ 'delete' | translate }}" icon="pi pi-trash" [disabled]="branch.id == null"
        (click)="onDelete()" class="ui-button-danger"></button>
    </div>
  </div>
</form>
