@charset "UTF-8";

:root {
  --background-color: #3f3f3f;
  --border-color: #191919;

  --text-color: #dedede;
  --text-color-alt: #333333;

  --primary-color: #1f7ed0;
  --success-color: #34a835;
  --warning-color: #ffba01;

  --toolbar-text-color: var(--primary-color);
  --toolbar-background-color: #191919;

  --item-hover-background-color: #585858;
}
