@charset "UTF-8";

:root {
  --background-color: #dedede;

  --text-color: #3f3f3f;
  --text-color-alt: #ffffff;

  --primary-color: #007ad9;
  --success-color: #34a835;
  --warning-color: #ffba01;

  --toolbar-text-color: var(--primary-color);
  --toolbar-background-color: #f4f4f4;

  --item-hover-background-color: #ffffff;
}
