<div class="p-grid">
  <!--Table -->
  <div class="p-col-12 p-md-7">
    <p-table #toppingsTable [value]="sizes" selectionMode="single" [(selection)]="sizeSelected" dataKey="id"
      [loading]="loading" autoLayout="true" (onRowSelect)="onRowSelect($event)">
      <ng-template pTemplate="caption">
        <div class="p-grid">
          <div class="p-col table-title">
            <h2 style="margin: 0;" translate [translateParams]="{ count: 2 }">size</h2>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-size>
        <tr>
          <th pSortableColumn="order" translate [translateParams]="{ count: 1 }">
            order
            <p-sortIcon field="order"></p-sortIcon>
          </th>
          <th pSortableColumn="name" translate>
            name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th translate [translateParams]="{ gender: 'male'}">enabled</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-size>
        <tr [pSelectableRow]="size">
          <td>{{ size.order}}</td>
          <td>{{ size.name}}</td>
          <td>
            <p-checkbox styleClass="table-checkbox" binary="true" [ngModel]="size.enabled" disabled="true">
            </p-checkbox>
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
  <!-- Form -->
  <div class="p-col-12 p-md-5">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <p-panel header="{{sizeForm?.name || ('new' | translate:&quot;{ gender: 'male' }&quot;) }}">
        <div class="p-grid ui-fluid" style="margin: 10px 0px">
          <!-- enable -->
          <div class="p-col-12 p-sm-5 p-lg-4 form-label" translate [translateParams]="{ gender: 'male'}">enabled</div>
          <div class="p-col-12 p-sm-7 p-lg-8">
            <p-checkbox binary="true" [(ngModel)]="sizeForm.enabled" name="enabled"></p-checkbox>
          </div>
          <!-- name -->
          <div class="p-col-12 p-sm-5 p-lg-4 form-label" translate>name</div>
          <div class="p-col-12 p-sm-7 p-lg-8 ui-fluid">
            <input required pInputText name="name" type="text" [(ngModel)]="sizeForm.name"
              placeholder="{{'required' | translate:&quot;{ gender: 'male' }&quot;}}" />
          </div>
          <!-- description -->
          <div class="p-col-12 p-sm-5 p-lg-4 form-label" translate [translateParams]="{ count: 1}">description</div>
          <div class="p-col-12 p-sm-7 p-lg-8 ui-fluid">
            <input pInputText name="description" type="text" [(ngModel)]="sizeForm.description" />
          </div>
          <!-- order -->
          <div class="p-col-12 p-sm-5 p-lg-4 form-label" translate [translateParams]="{ count: 1}">order</div>
          <div class="p-col-12 p-sm-7 p-lg-8 ui-fluid">
            <input pInputText numeric decimals="0" name="order" type="number" [(ngModel)]="sizeForm.order"
              class="form-inputfield-numeric" />
          </div>
        </div>
        <div class="p-grid" *ngIf="hasEditRole()">
          <div class="p-col ui-fluid">
            <button pButton type="button" label="{{ 'new' | translate:&quot;{ gender: 'male' }&quot; }}"
              icon="pi pi-file-o" (click)="onNew()"></button>
          </div>
          <div class="p-col ui-fluid">
            <button pButton type="submit" label="{{ 'save' | translate }}" icon="pi pi-save"
              [disabled]="!form.valid"></button>
          </div>
          <div class="p-col ui-fluid">
            <button pButton type="button" label="{{ 'delete' | translate }}" icon="pi pi-trash"
              [disabled]="sizeForm.id == null" (click)="onDelete()" class="ui-button-danger"></button>
          </div>
        </div>
      </p-panel>
    </form>
  </div>
</div>
