.topping-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  white-space: nowrap;
  color: black;
  background-color: var(--success-color);
}

.price-zero-warning {
  color: var(--danger-color);
  font-weight: bold;
}

td {
  padding: 0.3em 0.4em !important;
}

.entity-disabled {
  text-decoration: line-through;
}
