@charset "UTF-8";

:root {
  --background-color: #dedede;

  --text-color: #3f3f3f;
  --text-color-alt: #ffffff;

  --primary-color: #7b95a3;
  --success-color: #a3e2c6;

  --toolbar-text-color: var(--text-color);
}
