<div class="p-grid root-container">
  <!-- image + title -->
  <div class="p-col-12 image-container">
    <img src="assets/images/about.jpg" width="100%" class="image-item">
    <span class="title">Pizza Shop</span>
  </div>

  <!-- Widgets -->
  <!-- Web -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3" i18nKey="web"></app-about-widget>

  <!-- OpenApi -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3" i18nKey="openapi" imageSrc="assets/images/openapi.png"
    [link]="baseUrl + '/swagger-ui/index.html'"></app-about-widget>

  <!-- I18N -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3" i18nKey="i18n" imageSrc="assets/images/language.png">
  </app-about-widget>

  <!-- Database -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3" i18nKey="database" imageSrc="assets/images/database.png">
  </app-about-widget>

  <!-- Open source -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3 p-xl-offset-3" i18nKey="opensource"
    imageSrc="assets/images/opensource.png">
  </app-about-widget>

  <!-- Android -->
  <app-about-widget class="p-col-12 p-md-6 p-lg-4 p-xl-3" i18nKey="android" imageSrc="assets/images/mobile.png">
  </app-about-widget>
</div>

<!-- Contact -->
