<app-top-bar></app-top-bar>

<h3 class="success-color">Severity Buttons</h3>
<button pButton type="button" label="Primary" (click)="changeTheme($event, theme.RHEA)"></button>
<button pButton type="button" label="Secondary" class="ui-button-secondary"
  (click)="changeTheme($event, theme.LUNA_GREEN)"></button>
<button pButton type="button" label="Success" class="ui-button-success"
  (click)="changeTheme($event, theme.LUNA_PINK)"></button>
<button pButton type="button" label="Info" class="ui-button-info"
  (click)="changeTheme($event, theme.NOVA_COLORED)"></button>
<button pButton type="button" label="Warning" class="ui-button-warning"></button>
<button pButton type="button" label="Danger" class="ui-button-danger"></button>

<div class="test colorTest">
</div>
