@charset "UTF-8";

:root {
  --background-color: #dedede;

  --text-color: #3f3f3f;
  --text-color-alt: #ffffff;

  --primary-color: #007ad9;
  --success-color: #34a835;

  --toolbar-text-color: var(--primary-color);
  --toolbar-background-color: #333333;

  --item-hover-background-color: #413f3f;
}
