<div class="root-container">
  <div class="p-col-12" style="display: flex;flex-direction: column;padding: 0;">
    <div class="p-grid widgets-container">
      <!-- Customers -->
      <app-dashboard-widget class="p-col-12 p-sm-6 p-md-5 p-lg-4 p-xl-3" [loading]="loading"
        [titleValue]="dashboard?.customers?.total"
        titleDescription="{{'customer' | translate:{ count: dashboard?.customers?.total } | lowercase}}"
        [subtitleValue]="dashboard?.customers?.toConfirm"
        subtitleDescription="{{'customerWaitConfirmation' | translate:{ count: dashboard?.customers?.toConfirm } | lowercase}}"
        color="var(--info-color)" appRoutingLink="/users" image="user-friends">
      </app-dashboard-widget>
      <!-- Products -->
      <app-dashboard-widget class="p-col-12 p-sm-6 p-md-5 p-lg-4 p-xl-3" [loading]="loading"
        [titleValue]="dashboard?.pizzas?.totalEnable"
        titleDescription="{{'pizza' | translate:{ count: dashboard?.pizzas?.totalEnable } | lowercase}}"
        [subtitleValue]="dashboard?.pizzas?.totalCategoriesEnable"
        subtitleDescription="{{'category' | translate:{ count: dashboard?.pizzas?.totalCategoriesEnable } | lowercase}}"
        color="var(--warning-color)" appRoutingLink="/pizzas" image="pizza-slice">></app-dashboard-widget>
    </div>
    <div class="p-col-12 orders-list-container">
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <fa-icon [icon]="['fas', 'pizza-slice']"></fa-icon>
            <span> {{'processing_orders'|translate}} ({{processingOrdersCounter}})</span>
          </ng-template>
          <app-home-orders-processing (processingOrdersCounter)="onProcessingOrdersCounterChange($event)">
          </app-home-orders-processing>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <fa-icon [icon]="['fas', 'hourglass-half']"></fa-icon>
            <span> {{'pending_orders'|translate}} ({{pendingOrdersCounter}})</span>
          </ng-template>
          <app-home-orders-list (pendingOrdersCounter)="onPendingOrdersCounterChange($event)"></app-home-orders-list>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
