<form #form="ngForm" (ngSubmit)="onSubmit()">
  <p-panel header="{{group.name || ('new' | translate:&quot;{ gender: 'male' }&quot;) }}">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
      <!-- name -->
      <div class="p-grid">
        <div class="p-col-6 form-label" translate>name</div>
        <div class="p-col-6">
          <input required pInputText name="name" type="text" [(ngModel)]="group.name"
            placeholder="{{'required' | translate:&quot;{ gender: 'male' }&quot;}}" />
        </div>
      </div>
      <!-- roles -->
      <div class="p-grid">
        <div class="p-col-12" translate [translateParams]="{ count: 2 }">role</div>
        <p-pickList class="p-col-12" [source]="rolesAvailable" [target]="group.roles"
          sourceHeader="{{'available' | translate:&quot;{ count: 2 }&quot;}}"
          targetHeader="{{'selected' | translate:&quot;{ gender: 'other' }&quot;}}" [responsive]="true"
          [showSourceControls]="false" [showTargetControls]="false">
          <ng-template let-role pTemplate="item">
            {{'Role.'+role | translate}}
          </ng-template>
        </p-pickList>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col ui-fluid">
        <button pButton type="button" label="{{ 'new' | translate:&quot;{ gender: 'male' }&quot; }}" icon="pi pi-file-o"
          (click)="onNew()"></button>
      </div>
      <div class="p-col ui-fluid">
        <button pButton type="submit" label="{{ 'save' | translate }}" icon="pi pi-save"
          [disabled]="!form.valid"></button>
      </div>
      <div class="p-col ui-fluid">
        <button pButton type="button" label="{{ 'delete' | translate }}" icon="pi pi-trash"
          [disabled]="group.id == null" (click)="onDelete()" class="ui-button-danger"></button>
      </div>
    </div>
  </p-panel>
</form>
