body {
  margin: 0;
  padding: 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948;
  border-left-width: 5px !important;
}

p-calendar.ng-valid[required],
p-calendar.ng-valid.required,
p-dropdown.ng-valid[required],
p-dropdown.ng-valid.required,
p-selectbutton.ng-valid[required],
p-selectbutton.ng-valid.required {
  border-left: none;

  .ui-calendar input,
  .ui-dropdown,
  .ui-selectbutton {
    border-left: 5px solid #42a948;
    border-left-width: 5px !important;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid #e40303;
  border-left-width: 5px !important;
}

p-calendar.ng-invalid,
p-dropdown.ng-invalid,
p-selectbutton.ng-invalid {
  border-left: none;

  .ui-calendar input,
  .ui-dropdown,
  .ui-selectbutton {
    border-left: 5px solid #e40303;
    border-left-width: 5px !important;
  }
}

.table-title {
  text-align: start;
  display: flex;
  align-items: center;
  color: var(--toolbar-text-color);
  flex-basis: auto;
}

.form-label {
  display: flex;
  align-items: center;
}

//:host .ui-inputtext .ui-state-disabled,
//.ui-widget:disabled {
//  opacity: 1 !important;
//}

body .ui-inputtext {
  opacity: 1 !important;
}

body .ui-picklist .ui-picklist-list .ui-picklist-item {
  opacity: 1 !important;
}

.order-state-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;
  white-space: nowrap;

  &.status-COMPLETED {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.status-CANCELLED {
    background-color: #ffcdd2;
    color: #c63737;
  }

  &.status-PROCESSING {
    background-color: #feedaf;
    color: #8a5340;
  }

  &.status-PENDING {
    background-color: #b3e5fc;
    color: #23547b;
  }

  &.status-FAILED {
    background-color: #eccfff;
    color: #694382;
  }

  &.status-REFUNDED {
    background-color: #e4b07d;
    color: #805b36;
  }

  &.status-DISABLED {
    background-color: #9c9c9b;
    color: #444341;
  }
}
