.login-card {
  margin-top: 2em;
  margin-bottom: 2em;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-item {
  width: 100%;
  object-fit: contain;
  padding: 1em 2em;
}

@media (max-width: 576px) {
  .image-item {
    padding: 1em 5em;
  }
}
