<p-toast [style]="{marginTop: '80px'}" position="top-center" key="login-toast"></p-toast>
<div class="p-grid">
  <p-card class="p-lg-8 p-xl-6 p-col-10 p-lg-offset-2 p-xl-offset-3 p-offset-1 login-card">
    <div class="p-grid">
      <div class="p-col-12 p-sm-5 p-md-5 p-lg-5 p-xl-5 image-container">
        <img src="assets/images/pizza.png" class="image-item">
      </div>
      <div class="p-col-12 p-sm-7 p-md-7 p-lg-7 p-xl-7">
        <h3 class="p-col-12 title" translate>login_account</h3>
        <form #form="ngForm" (ngSubmit)="onSubmit()">
          <div class="ui-inputgroup p-col-12 ui-fluid">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input required pInputText type="text" placeholder="{{'username' | translate}}" name="username"
              [(ngModel)]="userLogin.username">
          </div>
          <div class="ui-inputgroup p-col-12 ui-fluid">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <input required pInputText #password_field type="password" placeholder="{{'password' | translate}}"
              name="password" [(ngModel)]="userLogin.password">
            <button pButton type="button" [icon]="(password_field.type=='password')?' pi pi-eye':' pi pi-eye-slash'"
              class="ui-button-warn"
              (click)="password_field.type=password_field.type=='password'?'text':'password'"></button>
          </div>
          <div class="p-col-12">
            <p-checkbox binary="true" label="{{'remember_me' | translate}}" disabled="true"></p-checkbox>
          </div>
          <div class="p-col-12 ui-fluid">
            <button pButton label="{{'signin' | translate}}" type="submit" icon="pi pi-" class="ui-button"
              [disabled]="!form.valid"></button>
          </div>
        </form>
      </div>
    </div>
  </p-card>
</div>
