body {
  margin: 0;
  padding: 0;
}

:root {
  --ok-color: #42a948;
  --warning-color: #ffb300;
  --error-color: #e40303;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid var(--ok-color);
  border-left-width: 5px !important;
}

p-calendar.ng-valid[required],
p-calendar.ng-valid.required,
p-dropdown.ng-valid[required],
p-dropdown.ng-valid.required,
p-selectbutton.ng-valid[required],
p-selectbutton.ng-valid.required {
  border-left: none;

  .ui-calendar input,
  .ui-dropdown,
  .ui-selectbutton {
    border-left: 5px solid var(--ok-color);
    border-left-width: 5px !important;
  }
}

.ng-invalid:not(form) {
  border-left: 5px solid var(--error-color);
  border-left-width: 5px !important;
}

p-calendar.ng-invalid,
p-dropdown.ng-invalid,
p-selectbutton.ng-invalid {
  border-left: none;

  .ui-calendar input,
  .ui-dropdown,
  .ui-selectbutton {
    border-left: 5px solid var(--error-color);
    border-left-width: 5px !important;
  }
}

.table-title {
  text-align: start;
  display: flex;
  align-items: center;
  color: var(--toolbar-text-color);
  flex-basis: auto;
}

.form-label {
  display: flex;
  align-items: center;
}

//:host .ui-inputtext .ui-state-disabled,
//.ui-widget:disabled {
//  opacity: 1 !important;
//}

body .ui-inputtext {
  opacity: 1 !important;
}

body .ui-picklist .ui-picklist-list .ui-picklist-item {
  opacity: 1 !important;
}
