<p-table #branchesTable [value]="branches" [responsive]="true" selectionMode="single" [(selection)]="branchSelected"
  dataKey="id" [loading]="loading" autoLayout="true" (onRowSelect)="onRowSelect($event)">
  <ng-template pTemplate="caption">
    <div class="p-grid">
      <div class="p-col table-title">
        <h2 style="margin: 0;" translate [translateParams]="{ count: 2 }">branch</h2>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th pSortableColumn="place" translate>
        place
        <p-sortIcon field="address.place"></p-sortIcon>
      </th>
      <th translate>streetAddress</th>
      <th translate [translateParams]="{ gender: 'female'}">primary</th>
      <th translate [translateParams]="{ gender: 'female'}">enabled</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-branch>
    <tr [pSelectableRow]="branch">
      <td>{{ branch.address.place}}</td>
      <td>{{ branch.address.streetAddress}}</td>
      <td>
        <p-checkbox binary="true" [ngModel]="branch.primary" disabled="true"></p-checkbox>
      </td>
      <td>
        <p-checkbox binary="true" [ngModel]="branch.enabled" disabled="true"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>
