@charset "UTF-8";

:root {
  --background-color: #3f3f3f;

  --text-color: #dedede;
  --text-color-alt: #333333;

  --primary-color: #cc285c;
  --success-color: #34a835;

  --toolbar-text-color: var(--primary-color);
}
