hr {
  color: var(--toolbar-background-color);
  background-color: var(--toolbar-background-color);
  border: none;
  height: 1px;
  padding: 0;
}

.buttons-container {
  //flex-grow: 1;
  display: flex;
  width: 100%;

  > button:first-child {
    margin-right: 4px;
  }
  > button:not(:first-child):not(:last-child) {
    margin: 0 4px, 0 4px;
  }
  > button:last-child {
    margin-left: 4px;
  }
}

.fa-button-icon-only {
  flex-grow: 1;

  ::ng-deep span {
    display: none;
  }
  .icon-container {
    padding: 0.25em 0;
  }
}
