<div class="p-grid">
  <div class="p-col-12 p-sm-6 title-container">
    <h1 translate [translateParams]="{ count: 2 }">productAndCategory</h1>
    <p-selectButton [options]="types" [(ngModel)]="currentType"></p-selectButton>
  </div>
  <div class="p-col-12 p-sm-6 image-container">
    <img [src]="'assets/images/products.png'" style="height:100px;width: auto;">
  </div>
  <div class="p-col-12">
    <app-product-categories *ngIf="currentType === 'product-categories'"></app-product-categories>
    <app-products *ngIf="currentType === 'product'"></app-products>
  </div>
</div>
