.main-toolbar {
  padding: 0 1em 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid var(--toolbar-background-color);
}

.button-container {
  overflow: hidden;
  display: inline;
}

.top-button {
  float: right;
  margin-left: 10px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  color: var(--toolbar-text-color);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.image-logo {
  width: 32px;
  height: 32px;
  margin-right: 1em;
}

.topbar-menu {
  list-style-type: none;
  float: right;
  margin: 0 0 0 0;
  padding: 0;
}

.topbar-menu,
.topbar-menu > li,
.topbar-menu > li > a {
  color: var(--toolbar-text-color);
  display: inline-block;
  height: 100%;
}

.topbar-menu > li > a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  min-width: 120px;
  text-align: center;
  box-sizing: border-box;
  line-height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topbar-menu > li > a:hover {
  background-color: var(--item-hover-background-color);
}

.topbar-submenu {
  list-style-type: none;
  float: right;
  padding: 0;
}

.topbar-submenu,
.topbar-submenu > li,
.topbar-submenu > li > a {
  display: block;
  height: 100%;
}

.topbar-submenu > li > a {
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  min-width: 120px;
  text-align: left;
  box-sizing: border-box;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topbar-submenu > li > a:hover {
  background-color: #4a4f52;
}

:host {
  ::ng-deep .ui-slidemenu {
    width: 250px;
  }

  ::ng-deep .ui-slidemenu-wrapper {
    width: 100%;
  }

  ::ng-deep p-slidemenusub > ul {
    width: 100% !important;
  }

  ::ng-deep .ui-menu {
    width: auto;
  }
}

.user-container {
  margin: 0 1em 1em 0;
}

.user-icon {
  border-radius: 50%;
  border: 2px solid var(--toolbar-text-color);
  padding: 5px;
  margin-left: 5px;
}

.user-item-menu {
  color: var(--toolbar-text-color);
}

.user-item-menu:hover {
  color: var(--success-color);
}

.branch-container {
  margin-bottom: 1em;
}

:host {
  ::ng-deep .ui-dropdown .ui-dropdown-panel {
    min-width: 100%;
    width: max-content;
  }

  ::ng-deep .ui-dropdown .ui-dropdown-label {
    background: var(--toolbar-background-color);
    color: var(--toolbar-text-color);
  }
}

.blob {
  background: red;
  border-radius: 50%;
  margin: 10px;
  height: 20px;
  width: 20px;

  box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
