<div class='ui-toolbar p-align-center main-toolbar'>
  <h1 class='title'>Pizzaroad</h1>

  <div>
    <ul class='topbar-menu'>
      <li (click)='menuData.toggle($event)'><a translate>data</a></li>
      <li (click)='menuOptions.toggle($event)'><a translate>settings</a></li>
    </ul>
    <p-slideMenu #menuData [model]='itemsData' [popup]='true' backLabel="{{'back' | translate}}"></p-slideMenu>
    <p-slideMenu #menuOptions [model]='itemsSettings' [popup]='true' backLabel="{{'back' | translate}}">
    </p-slideMenu>
  </div>
</div>
