<div class='ui-toolbar p-align-center main-toolbar'>
  <div class="title-container">
    <img [src]="appLogo" class="image-logo">
    <h1 class='title'>{{appTitle}}</h1>
  </div>

  <div>
    <ul class='topbar-menu'>
      <li routerLink="/home"><a>Home</a></li>
      <li *ngIf="(session.getUser() | async)" (click)='menuData.toggle($event)'><a translate>data</a>
      </li>
      <li (click)='menuOptions.toggle($event)'><a translate>settings</a></li>
    </ul>
    <p-slideMenu #menuData [model]='itemsData' [popup]='true' styleClass="menuData" backLabel="{{'back' | translate}}">
    </p-slideMenu>
    <p-slideMenu #menuOptions [model]='itemsSettings' [popup]='true' styleClass="menuSettings"
      backLabel="{{'back' | translate}}">
    </p-slideMenu>
  </div>
</div>

<div class='ui-toolbar p-align-center main-toolbar'>
  <div class="branch-container">
    <p-dropdown *ngIf="(session.getBranch() | async)" [options]=" branchesItems" [ngModel]="session.getBranch() |async">
    </p-dropdown>
  </div>
  <div *ngIf="(session.getUser() | async) as user" class="user-container">
    <a (click)='menuUser.toggle($event)' class="user-item-menu">
      {{user.username}}
      <fa-icon [icon]="['fas', 'user']" class="user-icon" size="1x"></fa-icon>
    </a>
    <p-slideMenu #menuUser [model]='itemsUser' [popup]='true'></p-slideMenu>
  </div>
</div>
