<div class='ui-toolbar p-grid p-align-center zero-padding main-toolbar'>
  <div class='p-col-6 zero-padding'>
    <h1 class='title'>ISM Driver</h1>
  </div>

  <div class='p-col-6 zero-padding'>
    <div class='p-grid p-justify-end  button-container'>
      <ul class='topbar-menu'>
        <li><a routerLink="">Dashboard</a></li>
        <li (click)='menuGrafici.toggle($event)'><a [translate]>grafici.title</a></li>
        <li (click)='menuAnagrafiche.toggle($event)'><a [translate]>anagrafiche.title</a></li>
        <li (click)='menuLangs.toggle($event)'><a [translate]>lingua</a></li>
      </ul>
      <p-slideMenu #menuLangs [model]='itemsLangs' [popup]='true'></p-slideMenu>
      <p-slideMenu #menuAnagrafiche [style]="{' width':'250px'}" [model]='itemsAnagrafiche' [popup]='true'
        [menuWidth]='250' [viewportHeight]='380'></p-slideMenu>
      <p-slideMenu #menuGrafici [model]='itemsThemes' [popup]='true'></p-slideMenu>
    </div>
  </div>
